*{
          padding: 0;
          margin: 0 auto;
          font-size:14px;
          color:#666;
        }
        ul li{
          list-style: none;
        }

        .header{
          width:100%;
          height: 48px;
          background-color:#F8F8F8;
          position: fixed;
          top: 0;
          left: 0;
          border-bottom: 1px solid #ccc;
          z-index: 50;
      }
      .headerimg{
        margin-left: 200px;
        margin-top: 8px;
      }
      .headerul{
        margin-left:76%;
        list-style: none;
        margin-top: -30px;
      }
      .headerul li{
        margin-left: 12px;
        float: left;
      }
      .main{
        border-radius: 12px;
        border:1px solid #ccc;
        box-shadow:0px 0px 1px  1px #ccc;
        height: 680px;
        width: 980px;
        margin-top:80px;
        margin-bottom: 60px;
      	position: relative;
      }
      .left{
        margin-left:60px;
        margin-top: 60px;
        height: 600px;
        width: 540px;
      }
      .main .left h3{
        color:#333;
        margin-bottom: 30px;
      }
      .emailRegister ul li{
        margin-top:20px;
        width:540px;
        height: 28px;
      }
      .emailRegister ul li input#eml{
        width:200px;
        height: 27px;
      }
      .emailRegister ul li input#agree{
        margin-left:60px;
      }
      .emailRegister ul li input#submit{
        width:180px;
        height: 40px;
        margin-left:60px;
        color:#fff;
        background-color: #66B6CA;
        font-weight: bold;
      }
      .zynumber,.zypwd,.zyname{
        color:#999;
        font-size: 12px;
        margin-left:10px;     
      }
      .right{
      	position:absolute;
      	width: 200px;
      	height: 460px;
      	left:680px;
      	top:80px;
      }
      .right h3{
      	margin-top:40px;
      }
      .right .rightload{
      	margin-top:68px;
      }

/*------------------------------------尾部-------------------------------*/
.foot {
    width: 100%;
    height: 50px;
    background: #ddd;
    position: relative;
    bottom: 0px;
    z-index: 999;
}

.foot .foot_us {
    width: 100%;
    color: #333;
    text-align: center;
    font-size: 13px;
    padding-top: .5em;
}

.foot .foot_link {
    width: 100%;
    color: #333;
    font-size: 13px;
    text-align: center;
    margin-top: -.5em;
}

.foot_link .link_1 {
    color: #999;
    margin-bottom: .1em;
}

.link_1 a {
    color: #999;
}

